@import "variables";

.header {
  background-color: $blue;
  a {
    color: white;
  }
  .header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: $margin;

    @include tablet-and-desktop {
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .left-header {
      width: 320px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: $margin;

      @include tablet-and-desktop {
        justify-content: flex-start;
      }

      .logo {
        img {
          width: 48px;
          height: 40px;
          margin-left: $margin;
          margin-right: $margin;
        }
      }
      .title {
        font-size: 28px;
        margin-right: $margin;
      }
    }

    .menu {
      width: 320px;
      text-align: center;
      margin-bottom: $margin;
      margin-top: 2px;
      a {
        margin-right: $margin;
      }
      a:last-child {
        margin-right: 0;
      }
    }
  }

}
