.post {
    position: relative;
    padding-left: 0;
}

.post-content {
    padding: 0 2em;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.6em;
}

.header-title {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.header-title h1 {
    margin: 0.2em 0;
    font-size: 2em;
    font-weight: 300;
}

.header-title h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.post-content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

@media (min-width: 48em) {

    .header-title,
    .post-content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .post {
        left: 0;
    }
}

.logo {
    left: 0.625em;
    position: fixed;
    top: 0.625em;
    z-index: 9999;
    text-decoration: none;
    width: 42px;
    height: 42px;
}

.logo img {
    height: 42px;
    width: auto;
}

pre {
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border: 1px solid #EEE;
    border-image: none;
    overflow-x: auto;
    font-family: Consolas, Courier, monospace;
    color: #333;
    background: none repeat scroll 0 0 #FAFAFA;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre code {
    font-size: 95%;
    white-space: pre;
    word-wrap: normal;
    padding: 0;
    background: none repeat scroll 0 0 transparent;
}