.clearfix{
    clear:both;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F3F3F3;
    font-family: Verdana!important;
    font: 16px/1.6em Verdana, Helvetica, Arial, sans-serif;
}

#post img { 
  border: solid 1px #999;
    -moz-box-shadow: 1px 1px 5px #000;
    -webkit-box-shadow: 1px 1px 5px #000;
        box-shadow: 1px 1px 5px #000;
}

a{
    color:#BC1518;
}

#header-container{
    height:118px;
    overflow: hidden;
}

header{    
    height: 100%;
    margin: 0 auto;
}

header a{
    text-decoration: none;
    color: black;
}

header h1{
    width: 288px;
    margin: 0;
    float: left;
    height: 40px;
    margin-top: 42px;
}

#nom{
    color:#CF2F19;
}

nav{
    float: right;
    height: 100%;
    width: 285px;
}

nav ul {
    margin: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li:first-child a {
    margin-left: 0;
}

nav li:last-child a {
    margin-right: 0;
}


nav a {
    margin-right:15px;
    margin-top:48px;
    float: left;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    text-transform: uppercase;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1;
    padding: 5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: 1px solid black;
}

nav .current{
    background-color:black;
    color:white;
}

nav a.current:hover{
    cursor:default;
}

nav a:hover {
    background-color:black;
    color: white;
}

.wrapper{
    width: 960px;

}

#main-container{
    margin:0 auto;
}

ul.posts {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2em;
}

ul.posts li:hover,
ul.posts li:hover a,
ul.posts li:hover span{
    background-color: rgb(207, 47, 25);
    color: white!important;
    text-decoration: none;
}

}

ul.posts li {
    line-height: 1.75em;
    border-bottom: 1px solid #ccc;
}

ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 100%;
}

ul.posts tags{
    float: right;
    font-size: 12px;
}

blockquote{ 
    overflow:hidden;
    margin:1em 0;
    padding:0.2em 1.25em 0.2em 24px;
    background:#f3f3f0 url(../img/blockquote.gif) top left no-repeat;
    font-style:italic;
}

p{
    text-align: justify;
}

/*****************************************************************************/
/*
/* Post
/*
/*****************************************************************************/

#post{
    margin-bottom: 20px;
}

#post_header h1{
    float: left;
    max-width: 75%;
    line-height: 30px;
}

.post_date{
    float: right;
    margin-top: 30px;
}

#social_icon {
    position: relative;
    margin: 20px 0px;
    padding: 0px;
    width: 170px;
    height: 25px;
}

#social_icon li {
    width: 50px;
    height: 25px;
    position: absolute;
    top: 0px;
    background: url(../img/social.png) 0 0 no-repeat;
    display: block;
    list-style: none;
}

#social_icon a {
    width: 49px;
    height: 24px;
    display: block;
}

#social_icon a:hover {
    border: solid 1px #000;
}

#social_icon #panel1 {
    left: 0px;
}

#social_icon #panel2 {
    left: 55px;
    background-position: 0 -45px;
}

#social_icon #panel3 {
    left: 110px;
    background-position: 0 -90px;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

#about_content {
    float: left;
    margin-right: 260px;
}

#profil{
    width: 240px;
    float: right;
    margin-left: -240px;
    text-align: center;
    margin-top: 20px;
}

#profil a{
    color: #000;
    text-decoration: none;
}

/*****************************************************************************/
/*
/* Media queries
/*
/*****************************************************************************/


/*< 630px mobile view*/
@media (max-width : 630px) {

    #header-container{
        height: 118px;
    }

    header{
        display:block;
        margin:0 auto;
        height:60px;
    }

    header h1{
        width:288px;
        margin: auto;
        margin-top: 10px;
    }

    nav{
        width:100%;
        margin:auto;
        margin-top: 6px;
    }

    nav a{
        margin:0px;
        margin-right: 10px;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    nav li:first-child a {
        margin-left: 8px;
    }

    nav ul li {
        display: block;
    }

    #about_content{
        margin:0;
    }
    
    #profil{
        width: 100%;
        margin: auto;

    }
}

/*< 960px mobile view*/
@media (max-width : 960px) {

    .wrapper{
        width:90%;
    }
}