@import "normalize";
@import "variables";
@import "mixins";
@import "pygment";
@import "header";
@import "footer";

body {
  background-color: $light-gray;
  font: 300 1.2em/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: $blue;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: $margin;

  h1 {
    margin: $margin 0;
    color: $blue;
    font-size: 1.3em;
  }

  @include tablet-and-desktop {
    flex-wrap: nowrap;
  }

  .articles {
    margin-left: 2px;

    @include tablet-and-desktop {
      flex-basis: 75%;
      margin-right: $margin*2;
    }

    .posts-list {
      li {
        margin: 0;
        border-top: 1px solid $soft-gray;
      }
    }
    .date {
      color: $gray;
      font-size: 1em;
      margin-top: $margin;
      margin-bottom: $margin;
    }
    a {
      margin-bottom: $margin;
      display: block;
      font-size: 1.5rem;
      line-height: 1;
    }
  }

  .right-content {

    .box {
      background-color: $white;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
      border-radius: 3px;
      padding: 24px;
      margin-bottom: $margin;
    }

    font-size: .9em;
    line-height: 1.1em;
    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid $soft-gray;
      margin: $margin 0;
      padding: 0;
    }
    img {
      max-width: 250px;
      margin-top: $margin;
      margin-bottom: $margin;
    }

    @include tablet-and-desktop {
      flex-basis: 25%;
    }
  }
}