html, body{
	margin: 0;
	padding: 0;
}

body{
	background-color: #F3F3F3;
	font-family: Helvetica!important;
}

a{
	color:#BC1518;
}

#header-container{
	height:118px;
	overflow: hidden;
}

header{    
    height: 100%;
    margin: 0 auto;
}

header a{
	text-decoration: none;
	color: black;
}

header h1{
	width: 288px;
	margin: 0;
	float: left;
	height: 40px;
	margin-top: 42px;
}

#nom{
	color:#CF2F19;
}

nav{
	float: right;
	height: 100%;
	width: 275px;
}

nav ul {
    margin: auto;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li:first-child a {
    margin-left: 0;
}

nav li:last-child a {
    margin-right: 0;
}


nav a {
	margin-right:15px;
	margin-top:48px;
	float: left;
	display: block;
    text-decoration: none;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    text-transform: uppercase;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1;
    padding: 5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid black;
}

nav .current{
	background-color:black;
	color:white;
}

nav a.current:hover{
	cursor:default;
}

nav a:hover {
	background-color:black;
	color: white;
}

.wrapper{
	width: 960px;
}


#main-container{
		margin:0 auto;
}

ul.posts {
  list-style-type: none;
	padding: 0;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
    border-bottom: 1px solid #ccc;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 100%;
  }


blockquote{ 
  overflow:hidden;
  margin:1em 0;
  padding:0.2em 1.25em 0.2em 24px;
  background:#f3f3f0 url(../img/blockquote.gif) top left no-repeat;
  font-style:italic;
}

p{
	text-align: justify;
}


/*< 500px mobile view*/
@media (max-width : 630px) {

	#header-container{
		height: 118px;
	}

	header{
		display:block;
		margin:0 auto;
		height:60px;
	}

	header h1{
		width:288px;
		margin: auto;
		margin-top: 10px;
	}

	nav{
		width:100%;
		margin:auto;
		margin-top: 6px;
	}

	nav a{
		margin:0px;
		margin-right: 10px;
		display: block;
		margin-bottom: 10px;
		text-align: center;
	}

	nav li:first-child a {
	    margin-left: 8px;
	}

	nav ul li {
		display: block;
	}
}

/*< 960px mobile view*/
@media (max-width : 960px) {

	.wrapper{
		width:90%;
	}
}