---
layout: default
---
<div class="posts">
    <h1 class="posts__title">Writings</h1>
    {% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for yearMonth in postsByYearMonth %}
    <h2 class="posts__month">{{ yearMonth.name }}</h2>
    <ul class="posts__listing">
        {% for post in yearMonth.items %}
        <li class="menu__profile-item">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            {{ post.date | date: '%Y %b %d' }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>