html, body {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #000;
    background: white;
    margin: 0;
    padding: 0;
}

#article-profil-img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 42px;
    z-index: 10;
}

#header, #vitrine {
    background: none repeat scroll 0 0 #4791D2;
    text-align: center;
    overflow: hidden;
}

#header #menu a {
    font-weight: normal;
    font-size: 0.813em;
    display: inline-block;
    padding: 0.7em 1em;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    margin-left: 1em;
    transition: all 0.3s ease-in 0s;
    border-radius: 4px;
    margin-top: 20px;
}

#header #menu a:first-child {
    margin-left: 0;
}

#header {
    padding-bottom: 20px;
}

#header #menu a:hover {
    background-color: #3473A8;
    text-decoration: none;
    border: 1px solid #3473A8;
}

#header .inner {
    padding-top: 20px;
}

#header #logo {
    float: left;
}

#header #logo img {
    width: 285px;
    height: auto;
}

#header #menu {
    display: block;
    margin: auto;
}

#vitrine h2 {
    color: #ffffff;
    font-size: 2.3em;
    line-height: 1.136em;
    margin: 0 0 20px;
    position: relative;
    font-weight: normal;
}

#vitrine h2 a {
    color: darkorange;
    text-decoration: underline;
}

.post {
    margin-bottom: 2em;
    padding: 0 0 4em;
}

.post .post-excerpt {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: #ECECEC;
}

footer img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.center {
    display: block;
    margin: auto;
}

.img-responsive {

}

footer p.copyright {
    border-top: 1px solid #323232;
    color: #858585;
    margin: 50px 0 0;
    padding: 20px 0;
    text-align: center;
    font-size: 10px;
    letter-spacing: 2px;
}

.article-title {
    margin-top: 60px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #header {
        padding-bottom: 50px;
    }

    #vitrine h2 {
        margin: 50px 0 100px;
    }

    #header #menu {
        float: right;
    }

    #header .inner {
        padding-top: 50px;
    }

    #header #logo img {
        width: 300px;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #article-profil-img {
        position: fixed;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
