$backgroundColor: #323232;
$bodyColor: #fdf7e7;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$hColor: #f9e0a2;
$linkColor: #f4c145;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 40px auto;
  max-width: 768px;
  line-height: 1.6;
  font-size: 18px;
  padding: 0 10px;
}
h1,
h2,
h3 {
  line-height: 1.2;
  color: $hColor;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding: 0;
  list-style: none;
  li {
    padding: 0;
  }
}

small {
  font-size: 0.8rem;
}
