.main {
  margin: 0 0 0 340px
}

.post, .posts {
  max-width: 800px
}

.posts__list li a {
  display: block;
  padding: 20px 25px;
  color: $dark-grey;
}

.posts__title {
  font-size: 22px;
  letter-spacing: -1px
}

.posts__date {
  border-bottom: 1px solid #eee;
  font-size: 12px;
  padding: 0 0 10px
}

.post, .page {
  padding: 0 35px 15px
}

.post h3, .page h3 {
  font-size: 20px;
  border-bottom: 1px solid #eee;
  margin: 10px 0 20px
}

.post h4, .page h4 {
  font-size: 18px
}

.post h5, .page h5 {
  font-size: 16px;
  font-style: italic
}

.post ul li a, .page ul li a {
  font-weight: 900
}

.post__title, .page__title {
  font-size: 30px;
  margin: 35px 0 0
}

.page__title {
  padding: 0 0 10px;
  border-bottom: 1px solid #ddd
}

.post__meta {
  margin: 5px 0 25px;
  border-bottom: 1px solid #ddd;
  padding: 0 0 10px
}

.post__meta p {
  display: inline-block;
  font-weight: 900;
  font-size: 12px;
  margin: 0 0 0 5px
}

.post__meta-edit {
  position: relative;
  display: inline-block;
  background: #f5f6f5;
  color: #444;
  padding: 2px 8px 2px 25px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 900
}

.post__meta-edit i {
  font-size: 14px;
  position: absolute;
  top: 4px;
  left: 7px
}

.post ul, .page ul {
  margin: 0 0 0 35px
}

.post ul.events, .page ul.events {
  margin: 0
}

.post ul.events li, .page ul.events li {
  padding: 0 0 0 20px;
  list-style: none;
  border-bottom: 1px solid #eee
}

.post ul.events li:first-child, .page ul.events li:first-child {
  border-top: 1px solid #eee
}

.post ul.events li .events__type, .page ul.events li .events__type {
  color: #888;
  font-size: 12px
}

.post ul.events li .events__type span, .page ul.events li .events__type span {
  color: #888
}

.post ul li, .page ul li {
  list-style: disc
}

@media only screen and (max-width: 900px) {

  .main {
    margin: 0
  }

  .posts__title {
    font-size: 18px
  }

  .post, .page {
    padding: 0 15px 15px
  }
}

.img-responsive {
    max-width: 100%;
    height: auto;
}