---
layout: default
---
<a href="{{site.url}}" class="logo">
    <img src="/img/logo.png" alt="logo">
</a>
<div class="post">
    <div class="header-title">
        <h1>{{ page.title }}</h1>

        <h2>
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }}
            {% case m %}
            {% when '1' %}janvier
            {% when '2' %}février
            {% when '3' %}mars
            {% when '4' %}avril
            {% when '5' %}mai
            {% when '6' %}juin
            {% when '7' %}juillet
            {% when '8' %}août
            {% when '9' %}septembre
            {% when '10' %}octobre
            {% when '11' %}novembre
            {% when '12' %}décembre
            {% endcase %}
            {{ page.date | date: "%Y" }}
        </h2>
    </div>

    <div class="post-content">
        {{ content }}
        <p class="share">
            <a class="pure-button pure-button-primary" onclick="goTwitter()" title="Partager sur Twitter!">Partager sur Twitter</a>
        </p>
    </div>
    <script type="text/javascript">
        function goTwitter() {
            var title = encodeURIComponent("{{ page.title }}");
            var url = encodeURIComponent(document.URL);
            window.location.href = "https://twitter.com/intent/tweet?original_referer=" + url + "&source=tweetbutton&text=" + title + "&url=" + url + "&via=guillaume20100";
        }
        function goTop() {
            var scrollTop = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
        }
    </script>
</div>