---
layout: default
---
<a href="/"><img id="article-profil-img" src="/public/img/profil.png" alt="Guillaume Vincent"/></a>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="article-title">{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ page.date | date: "%d %B %Y" }}
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-right">
            <a href="#">back to top</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-right">
            <div id="disqus_thread"></div>
            <script type="text/javascript">

                var disqus_shortname = 'guillaumevincent';

                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
        </div>
    </div>
</div>
